body {
    padding: 1em;
    text-align: center;
    align-items: center;
}

main {
    padding: 1em;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 1em;
}

.activity-card-box {
    display: flex;
}

.app-store {
    width: 45%;
    height: 40%;
}